@import '../../../styles.css';

#personalLink{
    
    .personalCont{
        position:relative;
        height: 50px;
        width: 200px;

        div{
            position:absolute;
        }
        .background1{
            top:13px;
            width:60px;
            height:40px;
            border-radius: 38% 62% 70% 30% / 70% 30% 70% 30%;
            background: linear-gradient(to top right, var(--dark-gray), var(--bright-green));
        }
        .background2{
            left:62px;
            width:53px;
            height:39px;
            border-radius: 72% 28% 23% 77% / 65% 30% 70% 35%;
            background: linear-gradient(to bottom left, var(--dark-gray), var(--bright-green));
        }
        .background3{
            top:3px;
            left:30px;
            width:63px;
            height:43px;
            border-radius: 47% 53% 45% 55% / 44% 47% 53% 56%;
            transform: rotate(-6deg);
            background: linear-gradient(var(--dark-gray), var(--bright-green), var(--dark-gray));
        }
        .personal{
            font-size:22px;
            top:11px;
            left:13px;
            color:var(--text-white);
            font-weight: bold;
        }
    }
}