<div id="navbar">
    <app-logo class="homelink"></app-logo>
    <div class="linksSection">
        <div class="homeLink" (click)="navClick('')">Home</div>
        <div class="professionalLink" (click)="navClick('resume')">Resume</div>
        <div class="personalLink" (click)="navClick('aboutMe')">About Me</div>
        <!-- <div class="projectsLink" (click)="navClick('projects')">Projects</div> -->
        <!-- <div class="contactMeLink" (click)="navClick('contact')">Contact Me</div> -->
    </div>
</div> 