#navbar{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

    .linksSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 10px;

        div{
            align-self:center;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:638px) {
    #navbar{
        width: 100%;
        display: flex;
        flex-direction: column;

        .homelink{
            margin: 0 auto;
        }
        .linksSection{
            padding: 0 10px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;

            div{
                align-self:center;
                cursor: pointer;
            }
        }
    }
}