@import '../../../styles.css';
.bulletCont{
    .bullet{
        display: grid;
        grid-template-columns: 120px 1fr;

        .leftSideBullet{
            grid-column-start:1;
            grid-column-end:2;
            padding: 15px;
            position: relative; 
            text-align: center; 
            display:block;

            .circleSeparatorBullet{
                position: absolute;
                height: 20px;
                width: 20px;
                top: 15px;
                left: calc(100% - 9px);
                background: var(--bright-green);
                border-radius: 10px;
            }
        }
        .rightSideBullet{
            grid-column-start:2;
            grid-column-end:3;
            max-width:600px;
            min-width: 350px;
            padding: 13px 0 20px 30px;
            border-left: solid 2px var(--light-gray);

            .bulletHeader{
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 10px;
                
                .greenAt{
                    color:var(--bright-green);
                }
            }
            .timingSmallScreen{
                display: none;
            }
            .subBullet{
                margin-bottom: 5px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .leftSideBullet{
        display: none !important;
    }
    .rightSideBullet{
        grid-column-start:1 !important;
        grid-column-end:3;
        padding: 13px 0 20px 10px !important;
        border: none !important;

        .timingSmallScreen{
            display: flex !important;
            margin-bottom: 7px;
            font-style: italic;
        }
    }
}