<div class="aboutMe">
    <div class="pageHeader">About Me</div>
    <div class="sectionHeader">Family</div>
    <div class="sectionContent">
        <div class="aboutMeSectionContent">
            I have been married for 5 years to my loving wife, and we have a 2-year-old daughter. 
            We are each other's highest priorities and biggest fans. I've been told that I talk about my family a lot and I like it that way.
            Together we enjoy going on walks, spending time with extended family, reading books, painting, and playing games. 
        </div>
        <img class="aboutMeSectionImage" src="assets/familyPictureBridge.jpg"/>
    </div>
    <br/>
    <br/>
    <div class="hobbiesSection">
        <div class="sectionHeader">Hobbies</div>
        <div class="hobbiesContent">
            <p>
                When I'm not working on software products and seeking to improve business processes or spending time with my family, 
                I enjoy cooking, playing disc golf, reading, cooking, origami, and playing DnD with my fellow nerd friends. 
            </p>
        </div>
        <div class="hobbiesImageList">
            <img class="img1" src="assets/JoshDiscGolf.jpg"/>
            <img class="img2" src="assets/JoshRunningWithFamily.jpg"/>
            <img class="img1" src="assets/JoshClimbingOnRocks.jpg"/>
            <img class="img2" src="assets/JoshFunWithFamily.jpg"/>
        </div>
    </div>
    <!-- <div class="aboutMeSection">
        <div class="aboutMeSectionText">
            <div class="aboutMeSectionHeader">Section</div>
            <div class="aboutMeSectionContent">
                Content
            </div>
        </div>
        <div class="aboutMeSectionImage"><img src=""/></div>
    </div> -->
</div>