@import '../../styles.css';

.aboutMe{
    display: flex;
    flex-direction: column; 
    
    .pageHeader{
        font-size: 36px;
        font-weight: bold;
        margin: 0 auto 20px auto;
        align-self: center;
    }
    .sectionHeader{
        padding-bottom: 5px;
        margin: 10px 0;
        font-size: 24px;
        font-weight: bold;
        border-bottom: 2px solid var(--light-gray);
        color: var(--bright-green);
    }
    .sectionContent{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
    }
    .aboutMeSectionContent{
        word-wrap: break-word;
        margin-top: 10px;
        max-width: 500px;
    }
    .aboutMeSectionImage{
        width: 250px;
        border-radius: 8px;
    }
    .hobbiesSection{
        align-items: center;
        margin-bottom: 40px;
        padding-top:10px;

        .hobbiesContent{
            word-wrap: break-word;
            margin-bottom: 20px;
        }
        .hobbiesImageList{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap:10px;
            justify-content: space-around;
            
            :is(img){
                object-fit: cover;
                border-radius: 8px;
            }
            .img1{
                width: 220px;
            }
            .img2{
                width: 250px;
            }
        }
    }
}

@media screen and (max-width: 450px){
    .aboutMeSectionText{
        width: 300px !important;
    }
}