#graphicSection{
    position: relative;

    :is(img){
        width: auto;
        position: absolute;
        left: 80px;
        z-index: -1;
    }
    .backblob{
        position: relative;
        z-index: -3;
        top: 7px;
        animation: floatAnimation30 1.5s infinite alternate ease-in-out; 
        transform-origin: center;
    }
    .frontblob{
        position: absolute;
        z-index: 2;
        animation: noRotateFloat 1.9s infinite alternate ease-in-out; 
    }
    .frontblob2{
        position: absolute;
        z-index: 2;
        left: 119px;
        animation: floatAnimation230 1.7s infinite alternate ease-in-out; 
        transform-origin: center;
    }
    .frontblob3{
        position: absolute;
        z-index: 2;
        left: 72px;
        animation: floatAnimationNeg10 1.1s infinite alternate ease-in-out; 
        transform-origin: center;
    }
    .frontblob4{
        position: absolute;
        z-index: 1;
        animation: noRotateFloat 2.1s infinite alternate ease-in-out; 
    }
    .backblob2{
        position: absolute;
        z-index: -2;
        animation: floatAnimation230 1.3s infinite alternate ease-in-out; 
        transform-origin: center;
    }
}

@media screen and (min-width: 801px) {
    .graphicSectionPlacement{
        :is(img){
            height: 370px;
        }
        .frontblob{
            top:146px;
            width:293px;
            left:-71px;
        }
        .frontblob2{
            top:203px;
            width:361px;
        }
        .frontblob3{
            top:282px;
            width:178px;
        }
        .frontblob4{
            top:222px;
            width:141px;
            left:269px;
        }
        .backblob2{
            left:257px;
            width:117px;
            top:176px;
        }
        .backblob{
            left:-67px;
            width:437px;
        }
    }
}

@media screen and (max-width:800px) {
    .graphicSectionPlacement{

        :is(img){
            height: 300px;
        }
        .frontblob{
            top:127px;
            width:217px;
            left:-28px;
        }
        .frontblob2{
            width: 273px;
            top: 170px;
        }
        .frontblob3{
            width: 146px;
            top: 226px;
        }
        .frontblob4{
            left: 241px;
            width: 95px;
            top: 194px;
        }
        .backblob2{
            left: 225px;
            width: 95px;
            top: 159px;
        }
        .backblob{
            left: -41px;
            width: 365px;
        }
    }
}

@media screen and (max-width:400px) {
    .graphicSectionPlacement{
        margin-left:-30px;
    }
}

@keyframes floatAnimation30 {
    0% {
        transform: translateY(0px) rotate(30deg);
    }
    100% {
        transform: translateY(-5px) rotate(30deg);
    }
}
@keyframes floatAnimation230 {
    0% {
        transform: translateY(-5px) rotate(230deg);
    }
    100% {
        transform: translateY(0px) rotate(230deg);
    }
}
@keyframes floatAnimationNeg10 {
    0% {
        transform: translateY(2px) rotate(-10deg);
    }
    100% {
        transform: translateY(-3px) rotate(-10deg);
    }
}
@keyframes floatAnimation90 {
    0% {
        transform: translateY(-3px) rotate(90deg);
    }
    100% {
        transform: translateY(2px) rotate(90deg);
    }
}
@keyframes noRotateFloat {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}