<div class="professionalPage">
    <div class="sectionHeader">Experience</div>
    <div class="sectionContent">
        <app-list-item [bulletList]="experienceBullets"></app-list-item>
    </div>
    <div class="sectionHeader">Education</div>
    <div class="sectionContent">
        <app-list-item [bulletList]="educationBullets"></app-list-item>
    </div>
    <div class="sectionHeader">Skills</div>
    <div class="skillsContent" *ngFor="let skillCat of skillsContent">
        <app-skill-section [skillCat]="skillCat"></app-skill-section>
    </div>
</div>