@import '../../styles.css';
.professionalPage{

    .sectionHeader{
        padding-bottom: 5px;
        margin: 10px 0;
        font-size: 38px;
        font-weight: bold;
        border-bottom: 2px solid var(--light-gray);
        color: var(--bright-green);
    }
    .sectionContent{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .skillsContent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 60px;

        .skillCols{
            width: 360px;
            margin-right: 20px;
        }
    }
}

/* @media screen and (max-width:800px) {
    .professionalPage{

    }
} */