@import '../../../styles.css';

.skillSection{

    .skillHeader{
        font-weight: bold;
        font-size: 1.4rem;
        margin: 15px 0;
        color: var(--bright-green);
    }
    .skillItem{
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-bottom: 10px;
        cursor: pointer;

        .starCont{
            display: flex;

            :is(svg){
                fill:white;
                margin-left: 5px;
            }
        }
    }
    .skillItem:hover{
        color: var(--bright-green);
        
        :is(svg){
            fill:var(--bright-green);
        }
    }
}